/*stili generali*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

/*nav-bar*/
.navigation-bar {
    width: 95%;
    border: 3px solid #006a6a;
    border-radius: 0 0 100px 0;
    box-shadow: 3px 8px 10px #d61d29;
}

.navigation-bar .container {
    display: flex;
    width: 95%;
    margin: 0 auto;
    padding: 10px 0;
}

.navigation-bar .logo {
    width: 50%;
}

.navigation-bar .logo img {
    width: 150px;
}

.navigation-bar .info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.navigation-bar a {
    text-decoration: none;
    font-weight: bold;
    color: #000;
    font-size: 18px;
}

.navigation-bar .info .arrow {
    vertical-align: top;
}

.navigation-bar .info .current-page {
    border-bottom: #006a6a 2px solid;
}

/*main*/
main {
    margin-top: 50px;
    padding: 50px 0;
    background-image: url(../img/vecteezy_astratto-bella-sfocatura-dello-sfondo-di-montagna-e-fiume_2267905.jpg);
    background-size: 100%;
}

.main-content .container {
    display: flex;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    border-radius: 25px;
    min-height: 500px;
}

.main-content .up {
    min-height: 500px;
    background-image: url(../img/treno\ uhuh\ ahah.webp);
    background-repeat: no-repeat;
    box-shadow: 5px 10px 18px #000000;
}

.main-content .ticket-buying {
    width: 50%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 20px;
    min-height: 300px;
    box-shadow: 5px 10px 18px #000000;
    background-color: #fff;
}

.main-content h1 {
    margin-top: 5px;
    text-align: center;
}

.name, .distance, .age, .passenger, .carriage, .train, .cost {
    margin: 15px 0 20px 10px;
    
}

.ticket-buying input {
    border: 2px solid #006a6a;
    border-radius: 10px;
    padding: 5px 10px;
}

.ticket-buying .disclaimer {
    color: rgb(155, 152, 152);
    font-size: 12px;
}

.main-content button {
    color: #fff;
    background-color: #006a6a;
    padding: 5px 10px;
    border-color: #006a6a;
    margin: 5px 0 0 10px;
    border-radius: 10px;
}

.main-content button:hover {
    cursor: pointer;
}

.main-content .buy {
    padding: 10px 20px;
    margin: 20px 0 0 20px;
}